	</main>
	<footer class="footer">
		<div class="container">
			<nav class="footer__nav">
				 <a href="#" class="footer__nav-item">Terms of Use</a>
				 <a href="#" class="footer__nav-item">Privacy & cookies</a>
			</nav>
			<div class="footer__copyright">
				Copyright © 2016, All rights reserved.
			</div>
		</div>
	</footer>
	<script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>
</html>