<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A description of the page">
	<title>Test job</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet"> 
	<link href="css/plugins.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
</head>
<body>
	<menu class="menu">
		<a href="#" class="menu__logo">
			<img src="i/logo.svg" alt="Company name">
			<span class="menu__logo-name">Company Name</span>
			<span class="menu__logo-slogan">Tag Line Goes Here</span>
		</a>
		<nav class="menu__nav">
			<a href="#" class="menu__nav-item">Homepage</a>
			<a href="#" class="menu__nav-item">About us</a>
			<a href="#" class="menu__nav-item">Reviews</a>
			<a href="#" class="menu__nav-item">Contacts</a>
		</nav>
		<div class="menu__copyright">&copy; 2018 Company name</div>
	</menu>
	<header class="header">
		<div class="container">
			<a href="#" class="header__logo">
				<img src="i/logo.svg" alt="Company name">
				<span class="header__logo-name">Company Name</span>
				<span class="header__logo-slogan">Tag Line Goes Here</span>
			</a>
			<a href="#" class="header__burger js-menu"></a>
			<div class="header__title">
				<span class="header__title--hello">Hello</span>
				we are online clinic
			</div>
		</div>
	</header>
	<main class="main">